---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700');


/* ------------ VARIABLES ---------- */

$shaded-background: hsl(0, 0%, 97%);
$primary-color: rgb(76, 105, 114);
$grey: hsl(0, 0%, 38%);
$lighter-grey: hsl(0, 0%, 68%);
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$menu-width: auto;
$body-width: 1100px;
$spacing: 100px;
$border-line: 1px solid #e8e8e8;
$primary-shadow: 1px 2px hsl(0, 0%, 88%);

/* ------------ HEADER ---------- */

.site-header {
  background-color: $shaded-background;
  border-bottom: 0;
}

.site-title {
  margin: auto;
  font: 33px $primary-font;
  color: $primary-color !important;
  line-height: 54px;

  &:hover {
    text-decoration: none;
  }
}


/* ------------ FOOTER ---------- */

footer {
  background-color: $shaded-background;
  width: 100%;
  position: absolute;
  bottom: 0;
  min-height: 130px;
  align-items: center; /* align vertical */
  border-top: $border-line;
  color: $lighter-grey;

  @include media-query($on-laptop) {
    min-height: 230px;
    .col {
      padding-bottom: 15px !important;
    }
  }
}

.footer-heading {
  font-size: 1.25em;
  color: rgb(0, 0, 0);
}

.footer-col-3 {
  text-align: right;

  @include media-query($on-laptop) {
    text-align: left;
    padding-top: 20px;
  }
}


/* ------------ FORMATTING ---------- */
.category-head {
  font-size: 22px !important;
  color: $grey;
  margin-bottom: 0;
}

.category-group {
  padding-bottom: 0.5em;
}

h1 {
  font: 28px $primary-font;
  font-weight: bold;
}

h4 {
  font-size: 17px !important;
}

hr {
  border-top: 1px solid $lighter-grey;
  border-bottom: none;
  margin-bottom: 5px;
}

.post > a, svg {
  vertical-align: middle;
}

.post > svg, .nav-link, .nav-bullet {
  fill: $lighter-grey;
}


/* ------------ LAYOUT ---------- */

html {
  height: 100%;
}


body {
  font-family: $secondary-font;
  position: relative;
  padding-bottom: 230px;
  min-height: 100%;
}

.top-menu {
  max-width: -webkit-calc(#{$menu-width} - (#{$spacing} * 2));
  max-width:         calc(#{$menu-width} - (#{$spacing} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: $spacing / 4;
  padding-left: $spacing / 4;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$body-width} - (#{$spacing} * 2));
    max-width:         calc(#{$body-width} - (#{$spacing} * 2));
    padding-right: $spacing / 20;
    padding-left: $spacing / 20;
  }
}


/* ------------ FLEX GRID ---------- */

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
  width: 100%;
  padding-left: 22%;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col:nth-child(1) {
  width: 20%;
  padding-left: 2%;
}

.flex-grid-thirds .col:nth-child(2) {
  width: 56%;
}

.flex-grid-thirds .col:last-child {
  width: 20%;
}

@media (max-width: $on-laptop) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col, .col:nth-child(1), .col:nth-child(2) {
      width: 100%;
      padding-right: $spacing / 20;
      padding-left: $spacing / 20;
      padding-bottom: $spacing / 2;
    }
  }
}

* {
  box-sizing: border-box;
}

